main {
display: flex;
flex-direction: column;
align-items: center;
}
h1 {
    padding-bottom: 50px;
}
body {
    background-color: wheat;
    
}

main p>* {
    background-color: beige;
    padding: 2%;
    text-align: center;
}